<div>
    {% for model in collection %}
        {% if model.title %}
            <div class="first-loop">
                {{ model.title }}
            </div>
        {% endif %}
    {% endfor %}


    {% for model in foo.bar.xyz %}
        <span>{{ model }}</span>
    {% endfor %}

    <div>
    {% for model in collection %}
        <div class="second-loop">
        {% if model.title %}
            <div class="conditional">
                {{ model.title }}
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
</div>