<div>
    {% if foo %}
        <h3>Title</h3>

    {% elseif something == "something" %}
        <div>
            William Shatner
        </div>

    {% else %}
        <p>Paragraph</p>

    {% endif %}
</div>