
<div>
    {% include "Web/" ~ "View/Form/Dropdown/Dropdown" with {
        foo: bar,
        name: "sortBy",
        disabledCaption: "Sort By",
        options: { 'foo': 'Bar', 'a': 'b' },
        secondly: [{"text":"Animation","title":"Animation","href":"https:\/\/www.sotw.com\/channel\/animation"},{"text":"Docs","title":"Docs","href":"https:\/\/www.sotw.com\/channel\/docs"},{"text":"Comedy","title":"Comedy","href":"https:\/\/www.sotw.com\/channel\/comedy"},{"text":"Sci-Fi","title":"Sci-Fi","href":"https:\/\/www.sotw.com\/channel\/sci-fi"},{"text":"Drama","title":"Drama","href":"https:\/\/www.sotw.com\/channel\/drama"},{"text":"Horror","title":"Horror","href":"https:\/\/www.sotw.com\/channel\/horror"}]
    } %}
</div>
