
<div>
    {% include "Web/" ~ "View/Component/PillGroup/PillGroup" with {
        json: {
            foo: "bar",
            bobby: 'flay',
            flight: {
                ofthe: 'conchords',
            },
            "Recent Activity": 1,
        },
        header: "Literal String",
        integer: 5,
        items: pillsFeatured,
    } %}

    <div>
        Featured
    </div>
</div>
