
<div>
    {% include "Web/" ~ "View/Component/PillGroup/PillGroup" with {
        json: {
            foo: "bar"
        },
        header: "Literal String",
        integer: 5,
        items: pillsFeatured,
    } %}

    <div>
        Featured
    </div>
</div>
