<main>
    <header>
        <!-- Namespaced include -->
        {% include 'view/' ~ 'header/main.twig' with {
            title: "My Header Title"
        } %}
    </header>

    <div>
        {% include 'web/' ~ 'view/film/index/index.twig' with {
            films: []
        } %}
    </div>

    <ul>
        {% for model in collection %}
        <li>
            {{ model.title }}
        </li>
        {% endfor %}
    </ul>

    <div>
        <p>{{ variable }}</p>
    </div>

    <div>
        {% for model in collection %}
        <div class="second-loop">
            {% if model.title %}
            <div class="conditional">
                {{ model.title }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>


    <footer>
        {% include 'view/footer/main.twig' with {
            title: "My Header Title"
        } %}
    </footer>
</main>