<div class="page-explore-index container">
    {% include "Web/" ~ "View/Explore/Selection/Selection.twig" with {
        collection: collection,
        title: 'Explore<br />My Collection',
    } %}
</div>
